.container {
    width: 100%;
    height: 100vh;
    background-color: rgb(30, 30, 30);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.shareIngredients {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 28%;
    height: 60%;
    border-radius: 30px;
    background-color: rgb(78, 78, 78);
    border: 2px solid white;
    margin-left: 10%;
}

.minimum {
    color: rgb(154, 1, 154);
}

.pleaseShare {
    margin-top: 25%;
    color: white;
    text-align: center;
    font-family: "Concert One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.typeIngredients {
    color: white;
    margin-bottom: 10%;
    font-size: 1rem;
    width: 80%;
    font-family: "Yantramanav", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.yourIngredients {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 28%;
    height: 60%;
    border-radius: 30px;
    background-color: rgb(78, 78, 78);
    border: 2px solid white;
    margin-right: 10%;
}

.ingredientsList {
    width: 100%;
    height: 65%;
    margin-top: 2%;
}

.list {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    gap: 2%;
    flex-wrap: wrap;
    justify-content: center;
}

.ingredient {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 1.5px solid white;
    width:;
    height: 2rem;
    color: white;
    list-style-type: none;
    border-radius: 30px;
    background-color: rgb(70, 69, 69);
}

.ingredientButton {
    background-color: rgb(70, 69, 69);
    border: none;
    color: rgb(255, 0, 0);
    height: fit-content;
}

.ingredientButton:hover {
    cursor: pointer;
}

.ingredientValue {
    font-size: 1.5rem;
    font-family: "Yantramanav", sans-serif;
    margin-left: 1rem;
}

.form {
    width: 100%;
    height: 7%;
    display: flex;
    justify-content: center;
}

.enterIngredients {
    background-color: rgb(78, 78, 78);
    width: 50%;
    height: 100%;
    border-radius: 30px;
    border: 2px solid white;
    color: white;
    padding-left: 2%;
}

.enterIngredients:focus {
    outline: none;
}

.containerTwo {
    display: flex;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgb(29, 30, 30);
    top: 100%;
    justify-content: center;
    align-items: center;
}

.recipesContainer {
    display: flex;
    width: 90%;
    height: 90%;
    border: 1px solid white;
    border-radius: 20px;
    gap: 5%;
    align-items: center;
    flex-direction: column;
}

.yourRecipesText {
    color: white;
    font-family: "Concert One", sans-serif;
    font-size: 3rem;
    margin-top: 2%;
}

.recipeImage {
    border-radius: 7px;
    width: 150px;
    height: 150px; 
}

.recipesList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

